<%- include('partials/header') %>

<div class="cover">
    <div class="container">
        <form action="" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
            <div class="inputs" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
            <input type="text" placeholder="Shop Name">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="text" placeholder="Owner Name">
            <input type="text" placeholder="Owner's Phone Number">
            <input type="text" placeholder="Owner's Whatsapp Number">
            <input type="text" placeholder="Address">
            <input type="text" placeholder="Pin Code">
            <div>
                <label for="city">City:</label>
                <select name="city" id="city">
                    <option value="Indore">Indore</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Mumbai">Mumbai</option>
                </select>
            </div>
            <div>
                <label for="state">State:</label>
                <select name="state" id="city">
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Punjab">Punjab</option>
                </select>
            </div>
          
            </div>
        <button>Submit</button>
        </form>

    </div>
</div>

<%- include('partials/footer') %>