<%- include('partials/header') %>

<header>
    <div class="cover header">
        <h3>Add New Coupon</h3>
    </div>
</header>

<form action="/admin/addCategory" class="cover">
    <div class="container">
        <input type="text" name="categoryName" placeholder="Enter Catagory">
        <button>Add Category</button>
    </div>
</form>

<br>
<header>
    <div class="cover header">
        <h3>Categories Info</h3>
    </div>
</header>

<div class="list">
    <div class="cover">
        <div class="container">
            <div class="row">
              <div class="col-12">
                <table>
                  <thead>
                    <tr>
                      <th >Serial Number</th>
                      <th >Category</th>
                      <th >Number of products</th>
                      <th>Manage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th >1</th>
                      <td>Catagory Name</td>
                      <td>28</td>
                      <td>
                        <button type="button" class="green"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="red"><i class="far fa-trash-alt"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <th >2</th>
                      <td>Catagory Name</td>
                      <td>34</td>
                      <td>
                        <button type="button" class="green"><i class="fa-solid fa-pen-to-square"></i></button>
                      <button type="button" class="red"><i class="far fa-trash-alt"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <th >3</th>
                      <td>Catagory Name</td>
                      <td>1</td>
                      <td>
                        <button type="button" class="green"><i class="fa-solid fa-pen-to-square"></i></button>
                      <button type="button" class="red"><i class="far fa-trash-alt"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>
</div>



<%- include('partials/footer') %>
