<%- include('partials/header') %>

<div class="cover main-box">
    <div class="container">
        <div>
            <i class="fa-solid fa-cart-plus"></i>
            <h3>Total Orders</h3>
            <div class="number">54</div>
        </div>
        <div>
            <i class="fa-solid fa-money-bill-trend-up"></i>
            <h3>Total Revenue</h3>
            <div class="number">534000</div>
        </div>
        <div>
            <i class="fa-solid fa-users"></i>
            <h3>Total Customers</h3>
            <div class="number">154</div>
        </div>
        <div>
            <i class="fa-solid fa-store"></i>
            <h3>Total Stores</h3>
            <div class="number">14</div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>