<%- include('partials/loginHeader')%>
  <div class="sub-main">
    <div class="login-image">
      <img src="\user_UI\img\logos\mazindalong.png" class="login-photo" alt="login-img">
    </div>
    <div class="content">
      <form action="admin/login" class="sign-in-form" method="POST">
        <div class="title">
          <h1 style="text-align: center; margin-top: 35px;">HELLO! WELCOME BACK👋</h1>
        </div>
        <div class="input-field" style="margin: 35px 0px;" >
          <input type="number" name="phoneNumber" required placeholder="Enter your Phone /Email address" />
        </div>
        <div class="input-field">
          
          <input type="password" name="password" required placeholder="Enter Password" />
        </div>
        <div id="check_box">
          <input type="checkbox" id="exampleCheck1">
          <label for="exampleCheck1" id="remember">Remember me?</label>
        </div>
       
        <div class="home-login-btn" style="margin: 25px 0;">
          <input type="submit" value="Log In" class="login-b" />
        </div>
       
       
      </form>
    </div>
  </div>
  <%- include('partials/loginFooter')%>