<%- include('partials/header')%>
<link rel="stylesheet" href="/admin_UI/approve-product.css">
            <div class="sub-main">
                <div class="sub-main-nav">
                    <div class="payment-status">
                        <h3 class="pending-request">Pending Requests<i class="fa-solid fa-angle-down"></i></h3>
                    </div>
                    <div class="payment-view">
                        <button class="btn btn-sm dropdown-toggle location" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mandi
                          </button>
                          <ul class="dropdown-menu">
                            ...
                          </ul>
                        <button class="all-pay">View all orders</button>
                    </div>
                </div>
                <div class="table-content">
                    <table>
                        <tr class="top">
                            <th class="top-content">Sno.</th>
                            <th class="top-content">Product Name</th>
                            <th class="top-content">Category</th>
                            <th class="top-content">Seller</th>
                            <th class="top-content">Mrp</th>
                            <th class="top-content">Sales Price</th>
                            <th class="top-content">Cost Price</th>
                            <th class="top-content">Top Deal/Trending</th>
                            <th class="top-content">Actions</th>
                        </tr>
                        <tr class="row-content">
                            <td class="number">1</td>
                            <td class="content">Iphone 12 Pro Max</td>
                            <td class="content">Mobile</td>
                            <td class="content">Mr. Akash</td>
                            <td class="number blue">₹1,20,000</td>
                            <td class="number blue">₹1,29,000</td>
                            <td class="number blue">₹1,11,000</td>
                            <td>
                                <div class="top-deal">
                                    <i class="fa-sharp fa-solid fa-check green"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red"></i>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <i class="fa-sharp fa-solid fa-check green bog"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red bog"></i>
                                </div>
                            </td>
                        </tr>
                        <tr class="row-content">
                            <td class="number">2</td>
                            <td class="content">Puma Unisex sneakers</td>
                            <td class="content">Shoes</td>
                            <td class="content">Mr. Akash</td>
                            <td class="number blue">₹5,000</td>
                            <td class="number blue">₹6,599</td>
                            <td class="number blue">₹4000</td>
                            <td>
                                <div class="top-deal">
                                    <i class="fa-sharp fa-solid fa-check green"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red"></i>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <i class="fa-sharp fa-solid fa-check green bog"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red bog"></i>
                                </div>
                            </td>
                        </tr>
                        <tr class="row-content">
                            <td class="number">3</td>
                            <td class="content">Puma Smash V2</td>
                            <td class="content">Shoes</td>
                            <td class="content">Mr. Akash</td>
                            <td class="number blue">₹56,000</td>
                            <td class="number blue">₹6,599</td>
                            <td class="number blue">₹4000</td>
                            <td>
                                <div class="top-deal">
                                    <i class="fa-sharp fa-solid fa-check green"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red"></i>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <i class="fa-sharp fa-solid fa-check green bog"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red bog"></i>
                                </div>
                            </td>
                        </tr>
                        <tr class="row-content">
                            <td class="number">4</td>
                            <td class="content">Kurkure Chilli Chatka</td>
                            <td class="content">Snacks</td>
                            <td class="content">Mr. Akash</td>
                            <td class="number blue">₹20</td>
                            <td class="number blue">₹25</td>
                            <td class="number blue">₹10</td>
                            <td>
                                <div class="top-deal">
                                    <i class="fa-sharp fa-solid fa-check green"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red"></i>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <i class="fa-sharp fa-solid fa-check green bog"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red bog"></i>
                                </div>
                            </td>
                        </tr>
                        <tr class="row-content">
                            <td class="number">5</td>
                            <td class="content">Hair Oil</td>
                            <td class="content">Oil</td>
                            <td class="content">Mr. Akash</td>
                            <td class="number blue">₹100</td>
                            <td class="number blue">₹110</td>
                            <td class="number blue">₹98</td>
                            <td>
                                <div class="top-deal">
                                    <i class="fa-sharp fa-solid fa-check green"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red"></i>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <i class="fa-sharp fa-solid fa-check green bog"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red bog"></i>
                                </div>
                            </td>
                        </tr>
                        <tr class="row-content">
                            <td class="number">6</td>
                            <td class="content">Coconut Oil</td>
                            <td class="content">Oil</td>
                            <td class="content">Mr. Akash</td>
                            <td class="number blue">₹75</td>
                            <td class="number blue">₹85</td>
                            <td class="number blue">₹65</td>
                            <td>
                                <div class="top-deal">
                                    <i class="fa-sharp fa-solid fa-check green"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red"></i>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <i class="fa-sharp fa-solid fa-check green bog"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red bog"></i>
                                </div>
                            </td>
                        </tr>
                        <tr class="row-content">
                            <td class="number">7</td>
                            <td class="content">Kurkure Chilli Chatka</td>
                            <td class="content">Snacks</td>
                            <td class="content">Mr. Akash</td>
                            <td class="number blue">₹20</td>
                            <td class="number blue">₹25</td>
                            <td class="number blue">₹18</td>
                            <td>
                                <div class="top-deal">
                                    <i class="fa-sharp fa-solid fa-check green"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red"></i>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <i class="fa-sharp fa-solid fa-check green bog"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red bog"></i>
                                </div>
                            </td>
                        </tr>
                        <tr class="row-content">
                            <td class="number">8</td>
                            <td class="content">Bingo Achari Masti</td>
                            <td class="content">Snacks</td>
                            <td class="content">Mr. Akash</td>
                            <td class="number blue">₹20</td>
                            <td class="number blue">₹25</td>
                            <td class="number blue">₹18</td>
                            <td>
                                <div class="top-deal">
                                    <i class="fa-sharp fa-solid fa-check green"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red"></i>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <i class="fa-sharp fa-solid fa-check green bog"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red bog"></i>
                                </div>
                            </td>
                        </tr>
                        <tr class="row-content">
                            <td class="number">9</td>
                            <td class="content">Hide & Seek</td>
                            <td class="content">Biscuits</td>
                            <td class="content">Mr. Akash</td>
                            <td class="number blue">₹20</td>
                            <td class="number blue">₹35</td>
                            <td class="number blue">₹18</td>
                            <td>
                                <div class="top-deal">
                                    <i class="fa-sharp fa-solid fa-check green"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red"></i>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <i class="fa-sharp fa-solid fa-check green bog"></i>
                                    <i class="fa-sharp fa-solid fa-xmark red bog"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script>document.getElementById("heading").innerText="Approve Products"</script>
     </body>
</html>