<%- include('partials/header')%>
    <link rel="stylesheet" href="/admin_UI/admin_dashboard.css">
    <link rel="stylesheet" href="/admin_UI/drop-store.css">
    <div class="sub-main">
        <div class="sub-main-menu">
            <div class="totals">
                <div class="total-div">
                    <img src="/admin_UI/images/Total-store.png" alt="Total Registerd Stores">
                    <div class="total-det">
                        <span>Total Registerd Stores</span>
                        <div class="tot-det">149</div>
                    </div>
                </div>
                <div class="total-div">
                    <img src="/admin_UI/images/Pending-store.png" alt="Pending Store Request">
                    <div class="total-det">
                        <span>"Pending Store Request</span>
                        <div class="tot-det">9</div>
                    </div>
                </div>
                <div class="total-div">
                    <img src="/admin_UI/images/rejected-store.png" alt="Rejected Stores">
                    <div class="total-det">
                        <span>Rejected Stores</span>
                        <div class="tot-det">5</div>
                    </div>
                </div>
            </div>
            <div class="Latest-order register-store">
                <div class="lo-head">
                    <h4>
                        Latest Orders
                    </h4>
                    <button class="view-order">
                        Veiw all Orders
                    </button>
                </div>
                <div class="table-content">
                    <table>
                        <thead>
                            <th class="top-content sno">Sno.</th>
                            <th class="top-content">Date of Registration</th>
                            <th class="top-content">Shop Name</th>
                            <th class="top-content">Owner Name</th>
                            <th class="top-content amount">Actions</th>
                        </thead>
                        <tbody>
                            <tr class="content">
                                <td>1</td>
                                <td>22/09/2022</td>
                                <td>Sardar Ji Phones</td>
                                <td>Mr. Akash Khurana</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>2</td>
                                <td>22/09/2022</td>
                                <td>Prakash General Store</td>
                                <td>Mr. Prakash Singh</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>3</td>
                                <td>22/09/2022</td>
                                <td>Sardar Ji Phones</td>
                                <td>Mr. Akash Khurana</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>4</td>
                                <td>22/09/2022</td>
                                <td>Prakash General Store</td>
                                <td>Mr. Prakash Singh</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>5</td>
                                <td>22/09/2022</td>
                                <td>Sardar Ji Phones</td>
                                <td>Mr. Akash Khurana</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>6</td>
                                <td>22/09/2022</td>
                                <td>Prakash General Store</td>
                                <td>Mr. Prakash Singh</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>7</td>
                                <td>22/09/2022</td>
                                <td>Sardar Ji Phones</td>
                                <td>Mr. Akash Khurana</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>8</td>
                                <td>22/09/2022</td>
                                <td>Prakash General Store</td>
                                <td>Mr. Prakash Singh</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>9</td>
                                <td>22/09/2022</td>
                                <td>Sardar Ji Phones</td>
                                <td>Mr. Akash Khurana</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>10</td>
                                <td>22/09/2022</td>
                                <td>Prakash General Store</td>
                                <td>Mr. Prakash Singh</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>11</td>
                                <td>22/09/2022</td>
                                <td>Sardar Ji Phones</td>
                                <td>Mr. Akash Khurana</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>12</td>
                                <td>22/09/2022</td>
                                <td>Prakash General Store </td>
                                <td>Mr. Prakash Singh</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>13</td>
                                <td>22/09/2022</td>
                                <td>Sardar Ji Phones</td>
                                <td>Mr. Akash Khurana</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                            <tr class="content">
                                <td>14</td>
                                <td>22/09/2022</td>
                                <td>Prakash General Store</td>
                                <td>Mr. Prakash Singh</td>
                                <td><button class="actions">Delete<i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="main-aside">
            <div class="Net-profit" style="height:255px">
                <img src="/admin_UI/images/arram.png">
                <div class="net-content">
                    <h6>
                        MANDI
                    </h6>
                    <p>Shops registered :<span>15</span></p>
                    <p>Shops requested :<span>17</span></p>
                    <p>Shops rejected :<span>02</span></p>
                </div>
            </div>
            <div class="recent-sales">
                <div class="sale-nav">
                    <h5>Recent Sales</h5>
                    <h6>See All</h6>
                </div>
                <div id="Sale-main-content">
                    <div class="sale-content">
                        <h5 class="store-request">Singh Ji Phones</h5>
                        <button class="see-all">Rejected</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Pending</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Accepted</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Pending</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Pending</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Accepted</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Accepted</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Rejected</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Accepted</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Rejected</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Accepted</button>
                    </div>
                    <div class="sale-content">
                        <h5 class="store-request">Arora Ji Phones</h5>
                        <button class="see-all">Rejected</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/storeFooter.ejs') %>