<%- include('partials/header')%>
    <link rel="stylesheet" href="/store_UI/css/addproduct.css">
    <script>
        function previewFile() {
            var preview = document.querySelector('#img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                preview.src = reader.result;
            }
            if (file) {
                reader.readAsDataURL(file);
                document.getElementById('im').innerHTML = "";
                document.getElementById('addp').innerHTML = "";
                document.getElementById('addp').style.padding = 0;
            } else {
                preview.src = "";
            }
        }
        function m() {
            var w = document.documentElement.clientWidth || window.innerWidth;
            if (w <= 770) {
                document.getElementById("a").classList.add("container");
                document.getElementById("a").classList.remove("d-flex");
                document.getElementById("b").classList.add("container");
                document.getElementById("b").classList.remove("d-flex");
                document.getElementById("c").style.paddingLeft = "16px";
            }
            else {
                document.getElementById("a").classList.add("d-flex");
                document.getElementById("b").classList.add("d-flex");
            }
        }

        function increment() {
            var x = document.getElementById('demoInput').value;
            x++;
            document.getElementById('demoInput').value = x;
        }
        function decrement() {
            var x = document.getElementById('demoInput').value;
            if (x != 0) { x--; }
            document.getElementById('demoInput').value = x;
        }

    </script>
    <img src="/store_UI/img/arrow.svg" alt="" style="padding-top:10px; position: absolute; " id="a1">
    <div class="container" id="dashboard">
        <div class="container" id="head">Product Details</div>
        <div class="container" id="top">
            <br>
            <img id="img" src="" alt="">
            <p id="addp" style="  color: #5597DA;">ADD A PHOTO</p>
            <br>
            <br>
            <label id="im" for="upload-photo"><img src="/store_UI/img/Vector.svg" alt=""></label>
            <input type="file" onchange="previewFile()" name="photo" id="upload-photo" style="width: 0px;" />
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-between container" id="a">
            <div class="details first">
                <label for="product name">Product Name</label>
                <br>
                <input type="text" name="pdtname" id="pdtname" placeholder="Enter your Product Name " style="width: 250px;">
            </div>
            <div class="details" style="width: 200px; margin-right: 50px; margin-left: 0;">
                <label for="product name">Price of Product</label>
                <br>
                <p style="padding: 5px; vertical-align: middle;">&#x20b9;</p>
                <input type="text" name="pdtname" placeholder="Enter Price">
            </div>
        </div>
        <div class="d-flex justify-content-between container" id="b">
            <div class="details first" style="width: 200px;">
                <label for="product name">Cost Price</label>
                <br>
                <p style="padding: 5px; vertical-align: middle;">&#x20b9;</p>
                <input type="text" name="pdtname" placeholder="Enter Cost Price">
            </div>
            <div class="details" style="padding-right: 165px; margin-left: 0; text-align: left;">
                <label for="product name">Category</label>
                <br>
                <select name="" id="">
                    <option value="firstPage">select</option>
                </select>
            </div>
        </div>
        <div class="details container " style="width: 200px;" id="c">
            <label for="product name">Quantity</label>
            <div id="inc">
                <button onclick="increment()" id="plus">+</button>
                <input id="demoInput" class="insider" class="inp" type=text min="1" value="1">
                <button onclick="decrement()" id="plus">-</button>
            </div>
        </div>
        <br>
        <div class="container justify-content-center" style="text-align: center;">
            <p>Description</p>
            <br>
            <textarea name="text" cols="10" wrap="soft" placeholder="Enter a Description" id="desc" style="line-height: 30px;"></textarea>
        </div>
        <div style="text-align: end; width: 90%;">
            <p style="font-size: 10px;">*min 100 words</p>
        </div>
        <div class="container justify-content-center" style="text-align: center;">
            <button class="button">Add to Stock</button>
        </div>
        <br>
    </div>
    <script>
        function increment() {
            var x = document.getElementById('demoInput').value;
            x++;
            document.getElementById('demoInput').value = x;
        }
        function decrement() {
            var x = document.getElementById('demoInput').value;
            if (x != 0) { x--; }
            document.getElementById('demoInput').value = x;
        }
    </script>
    <% - include('partials/footer') %>