<%- include('partials/header')%>
    <link rel="stylesheet" href="/store_UI/css/addstock.css">
    </head>

    <body>
        <div id="dashboard">
            <div class="container" id="head">Add New Stock</div>
            <div>
                <div class="stock">
                    <img src="/store_UI/img/boots.png" alt="">
                    <div>
                        <p id="name" style="color: #5597DA;">PUMA Smash v2 Unisex Sneakers
                        </p>
                        <p style="display: block;" id="rate">&#x20b9;5999</p>
                    </div>
                    <div id="inc">
                        <button onclick="increment(0)" id="plus">+</button>
                        <input id="demoInput" class="insider" type=text min="1" value="1">
                        <button onclick="decrement(0)" id="plus">-</button>
                    </div>
                </div>
                <div>
                    <div class="stock">
                        <img src="/store_UI/img/boots2.png" alt="">
                        <div>
                            <p id="name" style="color: #5597DA;">PUMA Smash v2 Unisex Sneakers
                            </p>
                            <p style="display: block;" id="rate">&#x20b9;5999</p>
                        </div>
                        <div id="inc">
                            <button onclick="increment(1)" id="plus">+</button>
                            <input id="demoInput" class="insider" type=text min="1" value="1">
                            <button onclick="decrement(1)" id="plus">-</button>
                        </div>
                    </div>
                </div>
                <div class="enter">
                    <div id="enter">
                        <span id="enterr">+</span>
                    </div>
                    <div id="ed">Enter Details +</div>
                </div>
                <div id="sugg" style="text-align: center; ">
                    <h3 style="position: sticky;">Suggestions</h3>
                    based on your recent entries
                </div>
                <div class="row">
                    <div class="row_posters" id="trending">
                        <div id="trending-main">
                            <div class="sub-div">
                                <img src="/store_UI/img/boots.png">
                                <div class="title">
                                    <h6>Puma White Unisex V2 Shoes</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/puma.png">
                                <div class="title">
                                    <h6>Puma Italian Renovatory Shirt</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/boots2.png">
                                <div class="title">
                                    <h6>Mercedes AMG Patrons</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/iphone.png">
                                <div class="title">
                                    <h6>Iphone 13 Pro Max</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/Macbook_air.png">
                                <div class="title">
                                    <h6>Apple Macbook M2 Series</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/boots.png">
                                <div class="title">
                                    <h6>Puma White Unisex V2 Shoes</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/puma.png">
                                <div class="title">
                                    <h6>Puma Italian Renovatory Shirt</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/boots2.png">
                                <div class="title">
                                    <h6>Mercedes AMG Patrons</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/iphone.png">
                                <div class="title">
                                    <h6>Iphone 13 Pro Max</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/Macbook_air.png">
                                <div class="title">
                                    <h6>Apple Macbook M2 Series</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/boots.png">
                                <div class="title">
                                    <h6>Puma White Unisex V2 Shoes</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/puma.png">
                                <div class="title">
                                    <h6>Puma Italian Renovatory Shirt</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/boots2.png">
                                <div class="title">
                                    <h6>Mercedes AMG Patrons</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/iphone.png">
                                <div class="title">
                                    <h6>Iphone 13 Pro Max</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/Macbook_air.png">
                                <div class="title">
                                    <h6>Apple Macbook M2 Series</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/boots.png">
                                <div class="title">
                                    <h6>Puma White Unisex V2 Shoes</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/puma.png">
                                <div class="title">
                                    <h6>Puma Italian Renovatory Shirt</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/boots2.png">
                                <div class="title">
                                    <h6>Mercedes AMG Patrons</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/iphone.png">
                                <div class="title">
                                    <h6>Iphone 13 Pro Max</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                            <div class="sub-div">
                                <img src="/store_UI/img/Macbook_air.png">
                                <div class="title">
                                    <h6>Apple Macbook M2 Series</h6>
                                </div>
                                <button class="add-to-cart">ADD TO LIST +</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function increment(i) {
                        var x = document.getElementsByClassName('insider')[i].value;
                        x++;
                        document.getElementsByClassName('insider')[i].value = x;
                    }
                    function decrement(i) {
                        var x = document.getElementsByClassName('insider')[i].value;
                        if (x != 0) { x--; }
                        document.getElementsByClassName('insider')[i].value = x;
                    }

                </script>
    </body>

    </html>