<title>Money</title>
<%- include('partials/header')%>
<link rel="stylesheet" href="/store_UI/css/money.css">

    <div id="dashboard">
        <div class="container" id="head">Money</div>
        <p>Filter</p>
        <select name="fx" class="fx" style="margin: 10px;">
            <option value="firstPage">Not Completed</option>
            <option value="secondPage">Completed</option>
        </select>
        <div>
            <table id="productSizes" class="table-borderless last" style="width: 100%; margin-right: 10px;">
                <thead>
                    <tr class="d-flex" id="headings">
                        <th class="col-2">S.No</th>
                        <th class="col">Product Name</th>
                        <th class="col-2">CP</th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="blank">
                        <th class="col-2"></th>
                        <th class="col"></th>
                        <th class="col-2"></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="blue">
                        <th class="col-2">1</th>
                        <th class="col">Payment 1</th>
                        <th class="col-2"><a href="" class="view">View</a></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="white">
                        <th class="col-2">2</th>
                        <th class="col">Payment 2</th>
                        <th class="col-2"><a href="" class="view">View</a></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="blue">
                        <th class="col-2">3</th>
                        <th class="col">Payment 3
                        </th>
                        <th class="col-2"><a href="" class="view">View</a></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="white">
                        <th class="col-2">4</th>
                        <th class="col">Payment 4
                        </th>
                        <th class="col-2"><a href="" class="view">View</a></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="blue">
                        <th class="col-2">5</th>
                        <th class="col"> Payment 5
                        </th>
                        <th class="col-2"><a href="" class="view">View</a></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex " id="white">
                        <th class="col-2">6</th>
                        <th class="col">Payment 6
                        </th>
                        <th class="col-2"><a href="" class="view">View</a></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style=" height:700px;
                width:100%;">
            <table id="productSizes" class="table-borderless" style="width: 100%; margin-right: 10px;">
                <thead>
                    <tr class="d-flex" id="headings">
                        <th class="col-2">S.No</th>
                        <th class="col">Product Name</th>
                        <th class="col-2">CP</th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="blank">
                        <th class="col-2"></th>
                        <th class="col"></th>
                        <th class="col-2"></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="blue">
                        <th class="col-2">1</th>
                        <th class="col">Iphone 12 Pro Max</th>
                        <th class="col-2 sum">&#x20b9;120000</th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="white">
                        <th class="col-2">2</th>
                        <th class="col">Puma Unisex sneakers</th>
                        <th class="col-2 sum">&#x20b9;3999</th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="blue">
                        <th class="col-2">3</th>
                        <th class="col">Puma Smash V2
                        </th>
                        <th class="col-2 sum">&#x20b9;4999</th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="white">
                        <th class="col-2">4</th>
                        <th class="col">Kurkure Chilli Chatka
                        </th>
                        <th class="col-2 sum">&#x20b9;3999</th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="blue">
                        <th class="col-2">5</th>
                        <th class="col"> Hair Oil
                        </th>
                        <th class="col-2 sum">&#x20b9;4999</th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex " id="white">
                        <th class="col-2">6</th>
                        <th class="col">Coconut Oil
                        </th>
                        <th class="col-2 sum">&#x20b9;3999</th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex " id="white">
                        <th class="col" id="Total">Total
                        </th>
                        <th class="col-2" id="Totalpayment">
                            <hr>
                            <hr>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <script>
        var x = document.getElementsByClassName('sum')
        var y = 0;
        for (var i = 0; i < x.length; i++) {
            y = y + parseInt(document.getElementsByClassName('sum')[i].innerHTML.slice(1,));
            console.log(y)
        }
        document.getElementById('Totalpayment').innerHTML = "<hr>" + "&#x20b9;" + y + "<hr>";
    </script>
    <%- include('partials/footer')%>