<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
   <link rel="stylesheet" href="/store_UI/css/payment.css">
</head>
<%- include('partials/header')%>

<body>
   
    <div class="top">
        <p id="paymentdetails">Payment Details</p>
        
        <div class="summary">
            <div class="text-data">
                <p id="itemdetails">Item Name</p>
              <p>4 *  Iphone 12 Pro Max 256 GB</p>
              <p>4 *  MacBook Pro 13`` 500 GB SSD M1 Chip</p>
              <p>6 * SONY OLED 52`` Android Tv</p>
              <p>6* Iphone 14 Pro max 500 Gb</p>
            </div>
            <div class="numerical-data">
                <p id="pricedetail">Price Details</p>

              <p > 4,80,000</p>
              <p >4,00,000</p>
              <p >3,60,000</p>
              <p > 4,80,000</p>
              <hr>

              <p id="total"><span >Total:     </span> 18,00,000</p>
              <hr>
              
            </div>
        
          </div>
          <hr>
          <div class="summary">
            <div class="textdata">
                
             <p>Payment Status</p>
             <p>Payment Id
                
              
                </p>
             <p>Payment Mode</p>
             <p>  Card Number</p>
             <p>Payment Date</p>
            </div>
            <div class="status_details">
              
<p>Completed
   
   
    
    </p>
<p> 1a782iwejhgvu</p>
<p> Debit Card</p>
<p> **** **** **** **48</p>
<p>12/10/2022</p>
              
            </div>
        
          </div>
    </div>
</body>
</html>