<title>Products</title>
<%- include('partials/header')%>
    <link rel="stylesheet" href="/store_UI/css/products.css">
    <img src="/store_UI/img/Screenshot (95).png" id="image" alt="img">
    <div id="dashboard">
        <div class="container" id="head">Dashboard</div>
        <div>
            <table id="productSizes" class="table-borderless" style="width: 100%; margin-right: 10px;">
                <thead>
                    <tr class="d-flex" id="headings">
                        <th class="col-2">S.No</th>
                        <th class="col">Product Name</th>
                        <th class="col-2">Quantity</th>
                    </tr>
                </thead>
                <thead>
                    <tr class="d-flex" id="blank">
                        <th class="col-2"></th>
                        <th class="col"></th>
                        <th class="col-2"></th>
                    </tr>
                </thead>
                <% for(let i=0;i < products.length;i++) {%>
                    <!-- <label for="Quantity">Quantity: </label>
                    <input class="w-25" type="number" name="Quantity" id="Quantity" value="<%# = products[i].availableQuantity %>" onchange="changeQuantity('<%# = products[i]._id %>', this)"> -->
                    <!-- <p class="card-text">Description: <%# = products[i].description %> -->
                    <!-- <a href="/store/editProduct?ID=<%# =products[i]._id%>"><button type="button" class="btn btn-success btn-lg btn-round">Edit</button></a> -->
                    <!-- <a href="/store/deleteProduct?ID=<%# =products[i]._id%>"><button type="button" class="btn btn-danger btn-lg btn-round">Delete</button></a> -->
                    <thead>
                        <%# for(let j=0;j<products[i].images.length;j++) {%>
                            <!-- <img src="/store_UI/img/<%# =products[i].images[j]%>" class="card-img-top" alt="..."> -->
                            <%# } %>
                                <tr class="d-flex" id="blue">
                                    <th class="col-2">
                                        <%= i+1 %>
                                    </th>
                                    <th class="col">
                                        <%= products[i].name %>
                                    </th>
                                    <th class="col-2 quant">
                                        <div id="inc">
                                            <button onclick="increment(0)" id="plus">+</button>
                                            <input id="demoInput" class="insider" class="inp" type=text min="1" value="1">
                                            <button onclick="decrement(0)" id="plus">-</button>
                                        </div>
                                    </th>
                                </tr>
                    </thead>
                    <% } %>
            </table>
        </div>
    </div>
    <script>
        function increment(i) {
            var x = document.getElementsByClassName('insider')[i].value;
            x++;
            document.getElementsByClassName('insider')[i].value = x;
        }
        function decrement(i) {
            var x = document.getElementsByClassName('insider')[i].value;
            if (x != 0) { x--; }
            document.getElementsByClassName('insider')[i].value = x;
        }
    </script>
    <% - include('partials/footer') %>