<title>Register</title>
<%- include('partials/header')%>
  <link rel="stylesheet" href="/store_UI/css/register.css">

  <div id="main">
    <div id="sub-main">
      <div class="login-img">
        <img src="\user_UI\img\logos\mazindalong.png" alt="" style="position: relative;">

      </div>
      <div id="content">
        <form action="/store/register" method="POST" class="sign-in-form">
          <h2 class="title" id="reg">REGISTER STORE</h2>
          <div id="con-span">
            <span>Register and verify your store with us
            </span>
            <span>to sell your products</span>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="sellerName" required placeholder="Owner's Name" />
          </div>
          <div class="input-field">
            <i class="fa-sharp fa-solid fa-house"></i>
            <input type="text" name="storeName" required placeholder="Store Name" />
          </div>
          <!-- <div class="input-field" style="width: 100px; margin-right: 170px;">
            <span> </span>
            <input type="text" name="city" required placeholder="City" />
            <select name="city">
              <option value="Not Selected">Not Selected</option>
              <option value="Delhi">Delhi</option>
              <option value="Mumbai">Mumbai</option>
              <option value="Meerut">Meerut</option>
              <option value="Banglore">Banglore</option>
            </select>
          </div> -->
          <div class="input-field">
            <i class="fa-sharp fa-solid fa-house"></i>
            <input type="text" name="Store Address" required placeholder="Store Address" />
          </div>
          <div class="input-field">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" name="City" required placeholder="City" />
          </div>
          <div class="input-field">
            <i class="fa-solid fa-location-dot"></i>
            <input type="number" name="pincode" required placeholder="Pincode" />
          </div>
          <div class="input-field">
            <i class="fas fa-phone"></i>
            <input type="number" name="MobileNumber" required placeholder="Mobile Number" />
          </div>
          <div class="input-field">
            <i class="fas fa-phone"></i>
            <input type="number" name="WhatsappNumber" required placeholder="Whatsapp Number" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" required placeholder="Email" />
          </div>
          <div class="input-field">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" required placeholder="Password" />
          </div>
          
          
          <!-- <div class="input-field">
            <i class="fa-solid fa-lock"></i>
            <input type="number" name="OTP" placeholder="Enter OTP" />
          </div> -->
          <div id="conditions">
            <span style="margin-right: 65px;"><input type="checkbox" required> I accept <a href="T&C">terms</a> & <a
                href="pp">conditions</a></span>
          </div>
          <button type="submit" class="btn Sign" value="Sign-up">Sign Up</button>
          <div id="login-others">
            <span class="last_span" style="margin-bottom: 5px;">Or</span>
            <span class="last_span">Sign Up with</span>
            <div id="fonts">
              <div id="facebook">
                <i class="fa-brands fa-facebook-f"></i>
              </div>
              <div id="google">
                <i class="fa-brands fa-google"></i>
              </div>
              <div id="apple">
                <i class="fa-brands fa-apple"></i>
              </div>
            </div>
          </div>
          <span class="last_span">Already Registered? <a href="/store/login">Log In</a> </span>
        </form>
      </div>
    </div>
  </div>
  <%- include('partials/footer')%>