<%- include('partials/header_mobile')%>
    <link rel="stylesheet" href="/store_UI/css/stockupdate_mobile.css">
    <title>Stock Update</title>
    </head>

    <body>
        <img src="/store_UI/img/arrow.svg" alt="" id="arrow">
        <div class="d-flex">
            <img src="/store_UI/img/stock.svg" alt="">
        </div>
        <div class="head">
            <p>Stock Updates</p>
            <button type="button" class="btn btn-outline-dark" id="btn1">Update Current Stock</button>
            <button type="button" class="btn btn-outline-dark" id="btn2">Add New Stock</button>
            <br><br><br><br><br><br><br><br><br><br>
        </div>
    </body>

    </html>