<body class="font-sans leading-normal tracking-normal mt-12">
    <header>
        <!--Nav-->
        <nav class="navbar" style="padding: 0;">
            <ul class="nav-list">
                <li class="nav-items">
                    <div class="nav-img">
                        <img src="/store_UI/img/mazindalong.png" alt="Mazinda Logo">
                    </div>
                </li>
                <div class="container" id="icons">
                    <li class="nav-items menu ">
                        <a href="dashboard.html"> Dashboard</a>
                    </li>
                    <li class="nav-items menu">
                        <a href="products.html">Products</a>
                    </li>
                    <li class="nav-items menu " style="word-spacing: 0;">
                        <a href="/viewCart">Stock Update
                        </a>
                    </li>
                    <li class="nav-items menu ">
                        <a href="money.html">Money</a>
                    </li>
                    <li class="nav-items menu">
                        <a href="#contact-us" style="word-spacing: 0;"> Contact Us </a>
                    </li>
                </div>
                <li>
                    <a href="/profile" style="padding: 2px 4px!important;">
                        <span><i class="fas fa-user-check dp"></i></span>
                    </a>

                </li>

            </ul>

    </header>