    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="stylesheet" href="/user_UI/desktop_product.css"/>
    <%- include('partials/Header')%>
    <!-- main -->
    <div class="main">
      <div class="sub-main">
        <div id="Your-carts">
          <h3>Your Cart</h3>
          <div class="cart-details">
            <div class="product-option">
              <img src="images/Screenshot 2022-09-18 233244.png" alt="">
              <div class="product-det">
                <h2>PUMA Smash v2 Unisex Sneakers</h2>
                <span class="Rupee">₹ 4999</span>
                <span class="stock">In Stock</span>
                <div class="counter">
                  <div class="wrapper">
                    <span class="minus">-</span>
                    <input type="text" name="qty" id="1" value="1" class="num">
                    <span class="plus">+</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="buy-options">
              <button class="Buy Now">Buy Now</button>
              <button class="Delete">Delete</button>
            </div>
            <div class="mobile-cart">
              <div class="mobile-product-det">
                <img src="images/Screenshot 2022-09-18 233244.png" alt="">
                <div class="mobile-product-content">
                  <h2>PUMA Smash v2 Unisex Sneakers</h2>
                  <span class="Rupee">₹ 4999</span>
                  <span class="stock">In Stock</span>
                  <button class="Buy_Now">Buy Now</button>
                </div>
              </div>
              <div class="mobile-buttons">
                <div class="wrapper">
                  <span class="minus">-</span>
                  <input type="text" name="qty" id="1" value="1" class="num">
                  <span class="plus">+</span>
                </div>
                <button class="Delete">Delete</button>
              </div>
            </div>
          </div>
          <div class="cart-details">
            <div class="product-option">
              <img src="images/Screenshot 2022-09-18 233324.png" alt="">
              <div class="product-det">
                <h2>PUMA Smash v2 Unisex Sneakers</h2>
                <span class="Rupee">₹ 4999</span>
                <span class="stock">In Stock</span>
                <div class="counter">
                  <div class="wrapper">
                    <span class="minus">-</span>
                    <input type="text" name="qty" id="2" value="1" class="num">
                    <span class="plus">+</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="buy-options">
              <button class="Buy Now">Buy Now</button>
              <button class="Delete">Delete</button>
            </div>
            <div class="mobile-cart">
              <div class="mobile-product-det">
                <img src="images/Screenshot 2022-09-18 233324.png" alt="">
                <div class="mobile-product-content">
                  <h2>PUMA Smash v2 Unisex Sneakers</h2>
                  <span class="Rupee">₹ 4999</span>
                  <span class="stock">In Stock</span>
                  <button class="Buy_Now">Buy Now</button>
                </div>
              </div>
              <div class="mobile-buttons">
                <div class="wrapper">
                  <span class="minus">-</span>
                  <input type="text" name="qty" id="1" value="1" class="num">
                  <span class="plus">+</span>
                </div>
                <button class="Delete">Delete</button>
              </div>
            </div>
          </div>
          <div class="cart-details">
            <div class="product-option">
              <img src="images/Screenshot 2022-09-18 233306.png" alt="">
              <div class="product-det">
                <h2>PUMA Smash v2 Unisex Sneakers</h2>
                <span class="Rupee">₹ 4999</span>
                <span class="stock">In Stock</span>
                <div class="counter">
                  <div class="wrapper">
                    <span class="minus">-</span>
                    <input type="text" name="qty" id="3" value="1" class="num">
                    <span class="plus">+</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="buy-options">
              <button class="Buy Now">Buy Now</button>
              <button class="Delete">Delete</button>
            </div>
            <div class="mobile-cart">
              <div class="mobile-product-det">
                <img src="images/Screenshot 2022-09-18 233306.png" alt="">
                <div class="mobile-product-content">
                  <h2>PUMA Smash v2 Unisex Sneakers</h2>
                  <span class="Rupee">₹ 4999</span>
                  <span class="stock">In Stock</span>
                  <button class="Buy_Now">Buy Now</button>
                </div>
              </div>
              <div class="mobile-buttons">
                <div class="wrapper">
                  <span class="minus">-</span>
                  <input type="text" name="qty" id="1" value="1" class="num">
                  <span class="plus">+</span>
                </div>
                <button class="Delete">Delete</button>
              </div>
            </div>
          </div>
          <div id="totals">
            <div id="total-main">
              <div id="total-product">
                <button id="proceed">Proceed to buy 3 items</button>
              </div>
              <div id="total-amount">
                <div id="txt">
                  <span>Total</span>
                </div>
                <div id="amount">
                  <span>₹ 9898</span>
                </div>
              </div>
            </div>
          </div>
          <div id="total-mobile">
            <div id="total-amount-mobile">
              <div id="txt-mobile">
                <span>Total</span>
              </div>
              <div id="amount-mobile">
                <span>₹ 9898</span>
              </div>
            </div>
          </div>
          <div id="total-mobile-product">
            <button id="mobile-proceed">Proceed to buy 3 items</button>
          </div>
        </div>
        <div id="Your-fav">
          <h3>Your Favourites</h3>
          <div class="Fav-items">
            <div class="fav-content">
              <img src="images/Screenshot 2022-09-18 233244.png" alt="">
              <div class="product-det">
                <h2>PUMA Smash v2 Unisex Sneakers</h2>
                <span class="Rupee">₹ 4999</span>
                <span class="stock">In Stock</span>
                <div class="counter">
                  <div class="wrapper">
                    <span class="minus">-</span>
                    <input type="text" name="qty" id="4" value="1" class="num">
                    <span class="plus">+</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="fav-options">
              <button class="Add_to_cart">Add To Cart +</button>
              <Button id="btnh1" class="btn"><i class="fas fa-heart"></i></Button>
            </div>
            <div class="mobile-cart product-mobile-cart">
              <div class="mobile-product-det">
                <img src="images/Screenshot 2022-09-18 233244.png" alt="">
                <div class="mobile-product-content">
                  <h2>PUMA Smash v2 Unisex Sneakers</h2>
                  <span class="Rupee">₹ 4999</span>
                  <span class="stock">In Stock</span>
                  <div class="btn-box">
                    <button class="Add_to_cart">Add To Cart +</button>
                    <Button id="btnh1" class="btn"><i class="fas fa-heart"></i></Button>
                  </div>
                </div>
              </div>
              <div class="mobile-buttons">
                <div class="wrapper">
                  <span class="minus">-</span>
                  <input type="text" name="qty" id="1" value="1" class="num">
                  <span class="plus">+</span>
                </div>
              </div>
            </div>
          </div>
          <div class="Fav-items">
            <div class="fav-content">
              <img src="images/Screenshot 2022-09-18 233324.png" alt="">
              <div class="product-det">
                <h2>PUMA Smash v2 Unisex Sneakers</h2>
                <span class="Rupee">₹ 4999</span>
                <span class="stock">In Stock</span>
                <div class="counter">
                  <div class="wrapper">
                    <span class="minus">-</span>
                    <input type="text" name="qty" id="5" value="1" class="num">
                    <span class="plus">+</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="fav-options">
              <button class="Add_to_cart">Add To Cart +</button>
              <Button id="btnh2" class="btn"><i class="fas fa-heart"></i></Button>
            </div>
            <div class="mobile-cart product-mobile-cart">
              <div class="mobile-product-det">
                <img src="images/Screenshot 2022-09-18 233324.png" alt="">
                <div class="mobile-product-content">
                  <h2>PUMA Smash v2 Unisex Sneakers</h2>
                  <span class="Rupee">₹ 4999</span>
                  <span class="stock">In Stock</span>
                  <div class="btn-box">
                    <button class="Add_to_cart">Add To Cart +</button>
                    <Button id="btnh3" class="btn"><i class="fas fa-heart"></i></Button>
                  </div>
                </div>
              </div>
              <div class="mobile-buttons">
                <div class="wrapper">
                  <span class="minus">-</span>
                  <input type="text" name="qty" id="1" value="1" class="num">
                  <span class="plus">+</span>
                </div>
              </div>
            </div>
          </div>
          <div class="Fav-items">
            <div class="fav-content">
              <img src="images/Screenshot 2022-09-18 233306.png" alt="">
              <div class="product-det">
                <h2>PUMA Smash v2 Unisex Sneakers</h2>
                <span class="Rupee">₹ 4999</span>
                <span class="stock">In Stock</span>
                <div class="counter">
                  <div class="wrapper">
                    <span class="minus">-</span>
                    <input type="text" name="qty" id="6" value="1" class="num">
                    <span class="plus">+</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="fav-options">
              <button class="Add_to_cart">Add To Cart +</button>
              <Button id="btnh3" class="btn"><i class="fas fa-heart"></i></Button>
            </div>
            <div class="mobile-cart product-mobile-cart">
              <div class="mobile-product-det">
                <img src="images/Screenshot 2022-09-18 233306.png" alt="">
                <div class="mobile-product-content">
                  <h2>PUMA Smash v2 Unisex Sneakers</h2>
                  <span class="Rupee">₹ 4999</span>
                  <span class="stock">In Stock</span>
                  <div class="btn-box">
                    <button class="Add_to_cart">Add To Cart +</button>
                    <Button id="btnh3" class="btn"><i class="fas fa-heart"></i></Button>
                  </div>
                </div>
              </div>
              <div class="mobile-buttons">
                <div class="wrapper">
                  <span class="minus">-</span>
                  <input type="text" name="qty" id="1" value="1" class="num">
                  <span class="plus">+</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%- include('partials/desktop_product_footer')%>