<%- include('partials/loginHeader')%>
  <div class="sub-main">
    <div class="login-image">
      <img src="\user_UI\img\logos\mazindalong.png" class="login-photo" alt="login-img">
    </div>
    <div class="content">
      <form action="/login" class="sign-in-form" method="POST">
        <div class="title">
          <h1 style="text-align: center; margin-top: 35px;">HELLO! WELCOME BACK👋</h1>
        </div>
        <div class="input-field" >
          <input type="text" name="phoneNumber" required placeholder="Enter your Phone /Email address" />
        </div>
        <div class="input-field">
          
          <input type="password" name="password" required placeholder="Enter Password" />
        </div>
        <div id="check_box">
          <input type="checkbox" id="exampleCheck1">
          <label for="exampleCheck1" id="remember">Remember me?</label>
        </div>
        <div class="forgot">
          <p>Forgotten Password?</p>
        </div>
        <div class="home-login-btn">
          <input type="submit" value="Log In" class="login-b" />
        </div>
        <div class="guest">
          <input type="submit" value="Continue as Guest" class="continue-as-guest-btn">
        </div>
        <div id="login-others">
          <span>or</span>
          <span>Log In with</span>
          <div id="fonts">
            <div id="facebook">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div id="google">
              <i class="fa-brands fa-google"></i>
            </div>
            <div id="apple">
              <i class="fa-brands fa-apple"></i>
            </div>
          </div>
          <div class="no-account">
            <span>Don't have an account?</span>
            <span><a href="/register">Sign Up</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <%- include('partials/loginFooter')%>