<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="user_UI/assets/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="user_UI/assets/favicon_io/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="user_UI/assets/favicon_io/favicon-32x32.png"
    />

    <link rel="manifest" href="user_UI/assets/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="style.css" />

    <title>Login</title>
    <script src="https://kit.fontawesome.com/de5fa6f0f7.js" crossorigin="anonymous"></script>
    <style>
        /**Navbar**/
        *{
            margin: 0px;
            padding: 0px;
        }

        .navbar{
            background-color: rgba(0, 0, 0, 0.15);
        }

        .navbar .nav-list li{
            list-style: none;
            display: inline-block;
        }

        .navbar .nav-list li a{
            text-decoration: none;
        }

        .nav-img img{
            width: 205px;
            height: 107.02px;
        }

        .navbar .nav-list{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        
        .nav-items .search{
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: 600px;
            height: 45px;
            border: 1px solid #5597DA;
            border-radius: 5px;
        }

        .nav-items .search input{
            border: none;
            height: 42px;
            outline: none;
            width: 100%;
            background: rgba(0, 0, 0, 0);
        }

        .nav-items .search i{
            margin: 0px 10px;
        }

        .nav-items a{
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-size: 18px;
            color: #5597DA;
            font-weight: 700;
            line-height: 26px;
        }

        .shopping-cart{
            color: #5597DA;
        }

        .login-btn{
            background: #F26107;
            border: none;
            width: 95px;
            height: 38px;
            color: white;
            border-radius: 4px;
            font-size: 24px;
        }

        /**home page**/
        .main{
            background: rgba(0, 0, 0, 0.15);
            display: flex;
            justify-content: center;
            width: 100%;
            height: 660px;
        }

        .sub-main{
            box-sizing: border-box;
            position: relative;
            width: 850px;
            height: 490px;
            background: #F1FAFF;
            border: 1px solid #5597DA;
            border-radius: 40px 40px 0px 0px;
        }

        .content{
            position: relative;
            top: 0px;
            width: 848px;
            height: 440px;
            background: #FFFFFF;
            border-radius: 50px 50px 0px 0px;
            display: flex;
            justify-content: center;
        }

        .login-image{
            display: flex;
            justify-content: center;
        }

        .login-image img{
            height: 200px;
            padding-top: 20px;
        }

        .sign-in-form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title{
            font-size: 15px;
            padding: 15px 0px;
            font-weight: 700;
            line-height: 29px;
        }

        .input-field input{
            background-color: #C2D9F0;
            width: 90%;
            border: none;
            outline: none;
        }

        .input-field{
            width: 334px;
            height: 35px;
            display: grid;
            grid-template-columns: 15% 85%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 4px;
            background-color: #C2D9F0;
            margin: 0px 0px 35px 0px;
        }

        .input-field i{
            margin: 0px 4px;
        }

        .home-login-btn{
            padding-bottom: 15px;
        }

        .login-b{
            height: 37px;
            width: 290px;
            background: rgba(85, 151, 218, 0.5);
            border-radius: 10px;
            border: none;
            font-weight: 700;
            font-size: 18px;
        }

        .guest{
            padding-bottom: 10px;
        }

        .continue-as-guest-btn{
            background: #5597DA;
            border-radius: 10px;
            height: 37px;
            width: 290px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: white;
            border: none;
        }

        #login-others{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #fonts{
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: 40px;
            padding-bottom: 15px;
        }

        #fonts div{
            margin: 15px;
            padding: 20px;
        }

        #facebook{
            display: flex;
            background-color: #0047FF;
            width: 45px;
            height: 15px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
        
        #facebook:hover{
            background-color: #04befe;
            transition: 0.5s;
        }

        #google{
            display: flex;
            background-color: #B60016;
            width: 45px;
            height: 15px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
      
        #google:hover{
            background-color: #7c0412;
            transition: 0.5s;
        }

        #apple{
            display: flex;
            background-color: #000000;
            width: 45px;
            height: 15px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
      
        #apple:hover{
            background-color: #444;
            transition: 0.5s;
        }

        #fonts i{
            color: white;
            font-size: 30px;
        }

        #login-others span{
            color:#767676;
        }

        .no-account span {
            font-size: 18px;
        }

        .no-account span a{
            text-decoration: none;
            color: #000000;
            font-weight: 800;
            font-size: 18px;
        }

    </style>
</head>
<body>
    <!--Navbar-->
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-items">
                    <div class="nav-img">
                        <img src="images/nav-image.png" alt="Mazinda Logo">
                    </div>
                </li>
                <li class="nav-items">
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass search-logo"></i>
                        <input type="text" placeholder="Search on Mazinda">
                        <i class="fa-solid fa-microphone search-speak"></i>
                    </div>
                </li>
                <li class="nav-items">
                    <a href="#your-orders">Your orders</a>
                </li>
                <li class="nav-items">
                    <a href="#contact-us">Contact Us</a>
                </li>
                <li class="nav-items">
                    <a href="#cart">Cart</a>
                    <i class="fa-solid fa-cart-shopping shopping-cart"></i>
                </li>
                <li>
                    <button class="login-btn">Log In</button>
                </li>
            </ul>
        </nav>

    <div class="main">
        <div class="sub-main">
            <div class="login-image">
                <img src="images/log.png" class="login-photo" alt="login-img">
            </div>
            <div class="content">
                <form action="/login" class="sign-in-form" method="POST">
                    <div class="title"><h1>HELLO! WELCOME BACK👋</h1></div>
                    <div class="input-field">
                      <i class="fa-solid fa-phone"></i>  
                      <input type="number" name="phoneNumber" required placeholder="Phone Number" />
                    </div>
                    <div class="home-login-btn">
                        <input type="submit" value="Log In" class="login-b" />
                    </div>
                    <div class="guest">
                        <input type="submit" value="Continue as Guest" class="continue-as-guest-btn">
                    </div>    
                    <div id="login-others">
                      <span>or</span>
                      <span>Log In with</span>
                      <div id="fonts">
                        <div id="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div id="google">
                            <i class="fa-brands fa-google"></i>
                        </div>
                        <div id="apple">
                            <i class="fa-brands fa-apple"></i>
                        </div>
                      </div>
                      <div class="no-account">
                        <span>Don't have an account?</span>
                        <span><a href="/register">Sign Up</a></span>
                      </div>
                    </div>          
                  </form>
            </div>
        </div>
    </div>

    <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"
  ></script>
  <script>
    const sign_in_btn = document.querySelector("#sign-in-btn");
    const sign_up_btn = document.querySelector("#sign-up-btn");
    const container = document.querySelector(".container");
    sign_up_btn.addEventListener("click", () => {
      container.classList.add("sign-up-mode");
    });
    sign_in_btn.addEventListener("click", () => {
      container.classList.remove("sign-up-mode");
    });
  </script>
</body>
</html>