<link rel="stylesheet" href="/user_UI/orders.css">
<%- include('partials/header') %>
</main>
  <!--Body-->
  <div class="main">
    <div class="main-img">
      <img src="/user_UI/img/categories/main-div-img.png" alt="main-image">
    </div>
    <div class="sub-main">
      <div class="sub-main-title">
        <h1>Your Orders</h1>
      </div>
      <div class="orders">
        <div class="order-img">
          <img src="/user_UI/img/categories/white-shoe.png" alt="white-shoe">
          <div class="orders-text">
            <h4>PUMA Smash v2 Unisex Sneakers</h4>
            <h6>Arriving by 2 September</h6>
          </div>
        </div>
        <div class="orders-btn">
          <button class="track-order">Track order</button>
          <button class="detail-order">View details</button>
        </div>
      </div>
      <div class="orders men">
        <div class="order-img">
          <img src="/user_UI/img/categories/men-will-be-men.png" alt="white-shoe">
          <div class="orders-text">
            <h4>Men Black Brand Logo Printed.</h4>
            <h6>Arriving by 2 September</h6>
          </div>
        </div>
        <div class="orders-btn">
          <button class="track-order">Track order</button>
          <button class="detail-order">View details</button>
        </div>
      </div>
      <div class="sub-main-title">
        <h1>Completed Orders</h1>
      </div>
      <div class="orders">
        <div class="order-img">
          <img src="/user_UI/img/categories/footwear.png" alt="white-shoe">
          <div class="orders-text">
            <h4>Nike Red Sport Shoe Limited Edition!!</h4>
            <h6>Arriving by 2 September</h6>
          </div>
        </div>
        <div class="orders-btn">
          <button class="track-order">Track order</button>
          <button class="detail-order">View details</button>
        </div>
      </div>
    </div>
  </div>
  </body>
  </html>
  