<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="user_UI/assets/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="user_UI/assets/favicon_io/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="user_UI/assets/favicon_io/favicon-32x32.png"
    />
    <link rel="manifest" href="user_UI/assets/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>

    <script
      src="https://kit.fontawesome.com/4d8145f93f.js"
      crossorigin="anonymous"
    ></script>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body{
        background-color: rgba(0, 0, 0, 0.15);;
      }
      /*--Nav*/
      nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px;
      }
      nav ul li{
        display: inline-block;
      }

      nav ul li img{
        width: 205px;
        height: 107.02px
;
      }
      nav ul li input[type=text]{
        border: none;
        background-color: #5598da00;
        outline: none;
      }
      #search-bar{
        border:2px solid #5597DA;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:5px;
        max-width: 600px;
        width: 100%;
        height: 45px;
      }
      #search-bar i{
        margin: 0px 10px;
      }
      nav ul li input{
        width: 600px;
        height: 45px;
      }
      nav ul li a{
        text-decoration: none;
        font-size: 22px;
        font-weight: 700;
        font: SF Pro Display;
        line-height:26.25px;
        color: #5597DA;
      }
      .login_btn{
        background-color: #F26107;
        height: 45px;
        width: 129px;
        border: none;
        color: white;
        font: Montserrat;
        font-weight: 600;
        font-size: 22px;
        border-radius: 4px;
      }
      .login_btn:hover{
        background-color: #ff893f;
        color: black;
        transition: .4s linear;
      }
      /*--main--*/
      #main{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
      #sub-main{
        display: flex;
        width: 901px;
        height: 800px;
        background: #F1FAFF;
        border-radius: 40px 40px 0px 0px;
      }
      #content{
        padding-top: 30px ;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 901px;
        height: 713px;
        top: 210px;
        background: #FFFFFF;
        border-radius: 50px 50px 0px 0px;
      }
      /*--content--*/
      #content form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .title{
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        Font:Montserrat;
        line-height: 17.07px;
      }

      #con-span{
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
      }

      #con-span span{
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        Font:Montserrat;
      }

      .input-field{
        display: flex;
        flex-direction: row;
        padding: 0px 1.5px;
        align-items: center;
        max-width: 321px;
        width: 100%;
        background-color: #C2D9F0;
        margin: 3px 0;
        height: 41px;
        border-radius: 4px;
        display: grid;
        grid-template-columns: 15% 85%;
        position: relative;
      }

      .input-field{
        text-align: center;
        color: #495894;
        transition: 0.5s;
        font-size: 1.1rem;
      }

      .input-field input{
        background: none;
        font: SF Pro Text;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
      }

      .input-field input::placeholder{
        color: #495894;
      }

      #conditions{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 35px 0px 15px 0px;
      }
       
      .btn {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        max-width: 296px;
        height: 42px;
        width:100%;
        background-color: #5597DA;;
        border: none;
        outline: none;
        border-radius: 10px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin: 3px 0;
        cursor: pointer;
        transition: 0.5s;
      }

      .Sign{
        background-color: #A3E0FF;
        color: black;
      }

      .Sign:hover{
        background-color: #5597DA;
        color: white;
      }

      #login-others{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
      }

      #fonts{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      #facebook{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height:42px;
        border-radius: 10px;
        background-color: #0032b1;
      }
      .fa-facebook-f{
        color:#fff;
      }
      #facebook:hover{
        background-color:#3f74fc;
        transition: .3s linear;
      }
      #google{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height:42px;
        border-radius: 10px;
        background-color: #B60016;
      }
      .fa-google{
        color:#fff;
      }
      #google:hover{
        background-color:#ff0724;
        transition: .3s linear;
      }
      #apple{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height:42px;
        border-radius: 10px;
        background-color: black;
      }

      .fa-apple{
        color:#fff;
      }
      #apple:hover{
        background-color:rgb(137, 137, 137);
        transition: .3s linear;
      }

      #fonts div{
        margin:5px 10px;
      }

      #fonts i{
        padding: 20px 30px;
        font-size: 20px;
      }
      .last_span{
        margin-bottom: 20px;
      }

      form span a{
        text-decoration: none;
        color: #5597DA;
      }
      /*--media queries--*/
      @media screen and (min-width: 1200px) and (max-width:1286px){
        #search-bar{
          max-width:400px;
        }

      }
      @media screen and (min-width: 1100px) and (max-width:1200px){
        nav ul{
          display:flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
        }
        .nav-menu{
          display:none;
        }
        
      }

      @media screen and (min-width: 1000px) and (max-width:1100px){
        #search-bar{
          max-width:550px;
        }
        .nav-menu{
          display: none;
        }
        #sub-main{
          width:700px;
        }
        #content{
          width:700px;
        }
      }
      @media screen and (min-width: 412px) and (max-width:1000px){
        #search-bar{
            display: none;
        }
        .nav-menu{
          display: none;
        }
        #sub-main{
          width:700px;
        }
        #content{
          width:700px;
          top:250px;
        }
        nav ul{
          display: flex;
          flex-direction: column;
        }
      }
      @media screen and (max-width:718px) {
        nav{
          display: none;
        }
        #sub-main{
          width:100%;
          border-radius: 0px;
        }
        #content{
          position:relative;
          width:100%;
          top:100px;
          height:815px ;
        }
      }
    </style>
  </head>

  <body>
    <nav>
      <ul>
        <li><img src="images/Resize long.png" alt="logo"></li>
        <li>
          <div id="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search on Mazinda" name="search">
            <i class="fa-solid fa-microphone"></i>
          </div>
        </li>
        <li><a href="your_orders" class="nav-menu">Your orders</a></li>
        <li><a href="Contact_Us " class="nav-menu">Contact Us</a></li>
        <li><a href="Cart" class="nav-menu">Cart <i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href="login_page"><button type="button" class="login_btn">Log In</button></a></li>
      </ul>
    </nav>
    <div id="main">
      <div id="sub-main">
        <div id="content">
          <form action="/register" method="POST" class="sign-in-form">
          <h2 class="title">Creat an account</h2>
          <div id="con-span">
            <span>Creat and verify an account to get connected </span>
            <span>with us</span>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="name" required placeholder="User Name" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" required placeholder="Email" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" required placeholder="Password" />
          </div>
          <div class="input-field">
            <i class="fas fa-phone"></i>
            <input
              type="number"
              name="phoneNumber"
              required
              placeholder="Phone Number"
            />
          </div>
          <div class="input-field">
            <span>  </span>
            <input
              type="text"
              name="referralCode"
              placeholder="Enter referral code"
            />
          </div>
          <div id="conditions">
            <span>By creating an account you are aggreing to our</span>
            <span><a href="T&C">terms and conditions</a> & <a href="pp">privacy policy</a></span>
          </div>
          <button type="submit" class="btn Sign" value="Sign-up">Sign Up</button>
          <button type="submit" class="btn" value="guest">Continue as Guest</button>
          <div id="login-others">
            <span>or</span>
            <span class="last_span">Sign Up with</span>
            <div id="fonts">
              <div id="facebook">
                  <i class="fa-brands fa-facebook-f"></i>
              </div>
              <div id="google">
                  <i class="fa-brands fa-google"></i>
              </div>
              <div id="apple">
                  <i class="fa-brands fa-apple"></i>
              </div>
           </div>
          </div>
          <span class="last_span">Already have an account? <a href="/login">Log In</a> </span>
        </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>
  </body>
</html>