<div class="bottomNav fixed bottom-0 left-0 w-100 flex flex-row justify-around p-1" style="background-color: orange; border-top: white solid 2px; z-index: 1001">
  <a href="/?city=<%=city%>" class="text-white"><i class="fa-solid fa-house"></i></a>
  <a href="/profile" class="text-white"><i class="fa-solid fa-user"></i></a>
  <a href="viewCart" class="text-white"><i class="fa-solid fa-cart-shopping"></i></a>
</div>
<script src="/user_UI/user.js"></script>
<script src="/user_UI/js/products.js"></script>
</body>

</html>