<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset=" UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="user_UI/img/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="user_UI/img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="user_UI/img/favicon/favicon-16x16.png" />
    <link rel="manifest" href="user_UI/img/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/user_UI/header.css" />
    <title>Mazinda</title>
    <script src="https://kit.fontawesome.com/de5fa6f0f7.js" crossorigin="anonymous"></script>
    <style>
    </style>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#ajaxBtn").click(function () {
          $.ajax("/jquery/submitData", {
            type: "POST", // http method
            data: { myData: "This is my data." }, // data to submit
          });
        });
      });
    </script>
  </head>

  <body class="font-sans leading-normal tracking-normal mt-12">
    <header>
      <!--Nav-->
      <nav class="navbar">
        <div class="mobile-navbar">
          <div class="bars">
            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
              <i class="fas fa-bars"></i>
            </label>
            <div class="full-ul">
              <ul>
                <li class="cross">
                  <input type="checkbox" id="click">
                  <label for="click" class="menu-btn">
                    <i class="fa-solid fa-xmark"></i>
                  </label>
                </li>
                <li>
                  <div class="user">
                    <img src="images/puma.png" alt="user">
                    <div class="contact">
                      <h6>Akash Khurana</h6>
                      <span>+91-9988999891</span>
                    </div>
                  </div>
                </li>
                <li><a class="active" href="#"><i class="fa-solid fa-house"></i>Home<i class="fa-regular fa-arrow-right"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-arrow-right-arrow-left"></i>Your Orders<i class="fa-regular fa-arrow-right"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Cart<i class="fa-regular fa-arrow-right"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-phone"></i>Contact us<i class="fa-regular fa-arrow-right"></i></a></li>
                <li><button class="sign-out">Sign-out <i class="fa-solid fa-arrow-right-from-bracket"></i></button></li>
              </ul>
            </div>
          </div>
          <form class="search" action="/products" method="GET">
            <i class="fa-solid fa-magnifying-glass search-logo"></i>
            <input type="text" placeholder="Search on Mazinda">
            <i class="fa-solid fa-microphone search-speak"></i>
          </form>
          <a href="#cart" class="mobile-cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <ul class="nav-list">
          <li class="nav-items">
            <div class="nav-img">
              <img class="order" src="user_UI/img/logos/mazindalong.png" alt="Mazinda Logo">
            </div>
          </li>
          <li class="nav-items">
            <form class="search bhoot" action="/products" method="GET">
              <i class="fa-solid fa-magnifying-glass search-logo"></i>
              <input type="text" placeholder="Search on Mazinda">
              <i class="fa-solid fa-microphone search-speak"></i>
            </form>
          </li>
          <li class="nav-items menu">
            <a class="order" href="#your-orders">Your orders</a>
          </li>
          <li class="nav-items menu">
            <a class="order" href="#contact-us">Contact Us</a>
          </li>
          <li class="nav-items menu">
            <% if(user && user.userType=="user" ) {%>
              <a class="order" href="/viewCart">Cart
                <i class="fa-solid fa-cart-shopping shopping-cart"></i>
                <%=cartItems%>
              </a>
              <%} else {%>
                <a class="order" href="/login">Cart
                  <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <%}%>
          </li>
          <li>
            <% if(user && user.userType=="user" ) {%>
              <a href="/profile" style="padding: 2px 4px!important;" class="btn btn-primary">
                <span><i class="fas fa-user-check"></i></span>
              </a>
              <%} else {%>
                <a class="order" href="/login"><button class="login-btn">Log In</button></a>
                <%}%>
          </li>
        </ul>
    </header>