<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta
      name="google-signin-client_id"
      content="357679550815-92mgonea3om3h853mjs90a756akc9e8k.apps.googleusercontent.com"
    /> -->
    <!-- <script
      src="https://accounts.google.com/gsi/client"
      onload="initClient()"
      async
      defer
    ></script> -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="user_UI/assets/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="user_UI/assets/favicon_io/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="user_UI/assets/favicon_io/favicon-32x32.png"
    />
    <link rel="manifest" href="user_UI/assets/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="/user_UI/style.css" />
    <link rel="stylesheet" href="/user_UI/register.css" />
    <title>Login</title>
    <script
      src="https://kit.fontawesome.com/4d8145f93f.js"
      crossorigin="anonymous"
    ></script>
    <style></style>
  </head>

  <body>
    <div id="main"></div>
  </body>
</html>
