/*navbar*/
*{
    margin: 0px;
    padding: 0px;
    
}

body{
    margin: 0px ;
    padding: 0px;
}

.navbar{
    padding-bottom: 0px;
    margin: 0px;
    padding: 0px;
}

.navbar .nav-list li{
    list-style: none;
    display: inline-block;
}

.navbar .nav-list li a{
    text-decoration: none;
}

.nav-img img{
    width: 205px;
    height: 107.02px;
}

.navbar .nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0px;
}

.search{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 600px;
    height: 45px;
    border: 1px solid #5597DA;
    border-radius: 5px;
}

.search input{
    border: none;
    height: 42px;
    outline: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

.search i{
    margin: 0px 10px;
}

.nav-items a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #5597DA;
    font-weight: 700;
    line-height: 26px;
}

.shopping-cart{
    color: #5597DA;
}

.login-btn{
    background: #F26107;
    border: none;
    width: 95px;
    height: 38px;
    color: white;
    border-radius: 4px;
    font-size: 24px;
}

.dropdown{
  display: none;
}

.mobile-navbar{
  display: none;
}

.container {
  width:100px;
  position: relative;
}

.click{
  background-color: #01589b00;
  border:none;
  outline:none;
  width:50px;
  height: 40px;
  border-radius: 5px;
}

.click i{
  color: black;
  font-size: 1.2em;
}

.click:hover {
  border: 2px solid black;
}


.bars{
  display:none
}
@media screen and (min-width: 800px) and (max-width: 940px){

.navbar .search{
    max-width: 250px;
    margin-right: 5px;
}

.nav-img img{
  width: 170px;
  height: 100px;
  margin-right: 10px;
}

}

@media screen and (min-width: 600px) and (max-width:800px){

.navbar .search{
    display: none;
}

.nav-img img{
  width: 150px;
  height: 70px;
  margin-right: 5px;
}

.login-btn{
  width: 80px;
  height: 35px;
}
}

@media screen and (min-width: 940px) and (max-width:1200px){
    .navbar .search{
        max-width: 300px;
    }
}

@media screen and (max-width:600px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .bars{
    display: block;
  }
  .bars input {
    display: none;
  }
  nav .bars .full-ul{
    display: block;
    width: 100%;
  }

  nav .bars .full-ul ul{
    background-color: #fff;
    padding: 40px 0px 00px 0px;
    height: 100%;
    width: 70%;
    border-radius: 0px 25px 25px 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
  }
  
  nav .bars .full-ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    list-style: none;
    top: 0px;
    left: -100%;
    background: rgba(0, 0, 0, 0.549);
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 1;
  }
  #click:checked ~ .full-ul{
    left: 0;
  }
  
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a i{
    color: #5597DA;
  }
  nav ul li a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    font-weight: 800;
  }
  nav ul li{
    padding: 0px 30px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    transition: ease 0.3s;
  }
  nav ul li a:hover{
    text-decoration: none;
  }
  nav ul li:hover{
    background: #F2F4F8;
  }
  .user{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
  }
  .user img{
    width:50px;
    height: 51.97px;
    border-radius: 18.2716px;
    margin: 20px 15px 0px 20px;
  }
  .contact{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .contact h6{
    font-size: 16px;
    font-weight: 600;
  }
  .contact span{
    font-size: 14px;
    font-weight: 400;
  }
  .cross{
    width: 10px;
    height: 20px;
  }
  .sign-out{
    position: relative;
    padding: 10px 30px;
    top: 300%;
    background-color: none;
    border-radius: 28px;
    width: 221px;
    height: 74.84px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    border: 1px solid #2743FD;
    color: #2743FD;
    transition: ease 0.3s;
  }
  .sign-out:hover{
    background-color: #2743FD;
    color: white;
  }
  .order{
    display: none;
  }

  .search{
    max-width: 260px;
    height: 40px;
  }

  .mobile-navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .navbar .nav-items .search{
    display: none;
  }

  .navbar{
    margin: 10px 0px;
    padding: 0px;
  }

  .cart{
    font-size: 1.2em;
    color: black;
  }
}

/*****body****/
.main{
    height: auto;
    width: 100%;
    background: rgba(241, 250, 255, 1);
    display: flex;
    justify-content: center;
}

.sub-main{
  width: 80%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sub-main #Your-carts h3{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
}

.sub-main #Your-carts{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sub-main #Your-carts .cart-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F1FAFF;
  margin-bottom: 15px;
  border-radius: 8px;
  width: 95%;
}

.sub-main #Your-carts .cart-details .product-option{
  display: flex;
  flex-direction: row;
}

.sub-main #Your-carts .cart-details img{
  width:118px;
  height: 118px;
  margin:20px 25px;
}

.sub-main #Your-carts .cart-details .product-det h2{
  color:#5597DA;
  font-size: 24px;
  font-weight: 600;
}

.sub-main #Your-carts .cart-details .product-det{
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.sub-main #Your-carts .cart-details .product-det .Rupee{
  font-size: 20px;
  font-weight: 700;
}

.sub-main #Your-carts .cart-details .product-det .stock{
  font-size: 14px;
  font-weight: 500;
  color:#20C968;
}

.sub-main #Your-carts .cart-details .buy-options{
  margin: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 310px;
}

.sub-main #Your-carts .cart-details .buy-options button{
  width: 150px;
  height: 45px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid #5597DA;
  color: #5597DA;
  font-size: 22px;
  font-weight: 600;
  transition: 0.3s linear;
}

.sub-main #Your-carts .cart-details .buy-options button:hover{
  background-color: #5597DA;
  color: white;
  transform: scaleZ(2);
}
  

.sub-main #Your-carts .cart-details .buy-options .Delete{
  background-color: #5597DA; 
  color: white;
}

#totals{
  margin-top: 100px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content:right;
}

#total-main{
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 64%;
  margin-right: 35px;
}

#totals #proceed{
  width:332px;
  height: 44px;
  border-radius: 8px;
  background-color: #5597DA;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  margin: 30px;
  transition: 0.3s linear;
}

#totals #proceed:hover{
  background-color: white;
  border:2px solid #5597DA; 
  color: #5597DA;
}

#total-amount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

#total-amount #txt{
  color: #5597DA;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

#amount{
  font-size: 20px;
  font-weight: 700;
  width:152.59px;
  color: #5597DA;
  height: 44px;
  border: 2px solid #5597DA;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}

.wrapper{
  height: 23.75px;
  width: 89.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5597DA;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper span{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: white;
}
.wrapper input{
  font-size: 20px;
  height: 23.75px;
  width: 29.93px;
  text-align: center;
  border:none;
  border-right: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid rgba(0,0,0,0.2);
  pointer-events: none;
  background-color: #fff;
  color: #5597DA;
}

.mobile-cart{
  display: none;
}

#total-mobile-product{
  display: none;
}

#total-mobile{
  display: none;
}

#total-main1{
  
  width: 64%;
  margin-right: 35px;
}
#back{
  position: absolute;
  top: 28px;
  left: 8px;
}
#cart{
  position: absolute;
  top: 28px;
  right: 20px;
}


@media screen and (max-width:600px){
  body{
    background-color: rgba(194, 217, 240, 0.35);
  }
  .navbar{
    display: none;
  }
  .sub-main{
    position: absolute;
    
    width:100%;
    height: auto;
  }

  .sub-main #Your-carts .cart-details{
    background-color: #F2F4F8;
  }

  .sub-main #Your-carts .cart-details .product-option {
    display: none;
  }
  .sub-main #Your-carts .cart-details .buy-options{
    display: none;
  }
  .sub-main #Your-carts .cart-details .mobile-cart{
    display: block;
    display: flex;
    flex-direction: column;
  }
  .mobile-product-det{
    display: flex;
    flex-direction: row;
  }
  .mobile-product-content{
    margin-top:24px ;
    display: flex;
    flex-direction:column ;
  }
  .mobile-product-content h2{
    color: #5597DA;
    font-size: 14px;
    font-weight: 600;
  }
  .mobile-product-content .Rupee{
    font-size: 15px;
    font-weight: 700;
  }
  .mobile-product-content .stock{
    font-size: 12px;
    font-weight: 500;
    color: #20C968;
  }
  .mobile-buttons .Buy_Now{
    width: 71px;
    height: 25px;
    font-size: 10px;
    font-weight: 500;
    color: #5597DA;
    background-color: white;
    border: 2px solid #5597DA;
    border-radius: 4px;
    transition: linear 0.3s;
  }

  .mobile-product-content .Buy_Now:hover{
    color: #ffffff;
    background-color: #5597DA;
    border: 2px solid white;
    border-radius: 4px;
  }

  .mobile-buttons{
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    margin-left: 40px;
  }
  .mobile-buttons .Delete{
    width: 71px;
    height: 25px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    background-color: #5597DA;
    border: 2px solid #5597DA;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .wrapper{
    width: 75px;
    height: 19px;
    font-size: 10px;
    font-weight: 500;
  }
  .wrapper span{
    font-weight: 700;
    font-size: 19px;
  }
  .wrapper input{
    height: 19px;
    font-size: 13px ;
    font-weight: 500;
  }
  #totals{
    display: none;
  }
  #total-mobile-product{
  display: block;
}
#total-mobile-product #mobile-proceed{
  width:332px;
  height: 44px;
  border-radius: 8px;
  background-color: #5597DA;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  transition: 0.3s linear;
}

#total-mobile-product #mobile-proceed:hover{
  background-color: white;
  border:2px solid #5597DA; 
  color: #5597DA;
}

#total-mobile{
  display: block;
  width: 90%;
  display: flex;
  justify-content: end;
}
#total-mobile #total-amount-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#total-mobile #total-amount-mobile #txt-mobile{
  color: #5597DA;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}
#total-mobile #total-amount-mobile #amount-mobile{
  font-weight: 700;
  font-size: 14px;
  width: 74px;
  height: 27px;
  color: #5597DA;
  border: 2px solid #5597DA;
  border-radius: 8px;
  text-align: center;
}

}


/*------*fav*-------*/
/* .sub-main #Your-fav {
  margin-top: 0px;
} */

.sub-main #Your-fav h3{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.sub-main #Your-fav{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sub-main #Your-fav .Fav-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F1FAFF;
  margin-bottom: 15px;
  border-radius: 8px;
  width: 95%;
}

.sub-main #Your-fav .Fav-items .fav-content{
  display: flex;
  flex-direction: row;
}

.sub-main #Your-fav .Fav-items img{
  width:118px;
  height: 118px;
  margin:20px 25px;
}

.sub-main #Your-fav .Fav-items .product-det h2{
  color:#5597DA;
  font-size: 24px;
  font-weight: 600;
}

.sub-main #Your-fav .Fav-items .product-det{
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.sub-main #Your-fav .Fav-items .product-det .Rupee{
  font-size: 20px;
  font-weight: 700;
}

.sub-main #Your-fav .Fav-items .product-det .stock{
  font-size: 14px;
  font-weight: 500;
  color:#20C968;
}

.sub-main #Your-fav .Fav-items .fav-options{
  margin: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
}

.sub-main #Your-fav .Fav-items .fav-options .Add_to_cart{
  width: 150px;
  height: 45px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid #5597DA;
  color: #5597DA;
  font-size: 22px;
  font-weight: 600;
  transition: 0.3s linear;
}

.sub-main #Your-fav .Fav-items .fav-options .Add_to_cart:hover{
  background-color: #5597DA;
  color: white;
}
  

.sub-main #Your-fav .Fav-items .fav-options .btn{
  background-color: #5597DA; 
  color: white;
}

.mobile-fav-items{
  display: none;
}

@media screen and (max-width:600px){
  
  .sub-main #Your-fav .Fav-items .fav-content{
  display: none;
}
.sub-main #Your-fav .Fav-items .fav-options{
  display: none;
}
.mobile-cart{
  display: block;
  width: 100%;
}
#Your-fav{
  border-radius: 40px 40px 0px 0px;
  background-color: #F2F4F8;
}
.product-mobile-cart{
  background-color: #F2F4F8;
}
.btn-box{
  padding: 6px 0px;
  display: flex;
  align-items:center;
}
.btn{
  margin-left:10px ;
  background-color: #299bf3;
  font-size: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.btn-box .Add_to_cart{
  width: 70px;
  height: 25px;
  font-size: 10px;
  font-weight: 500;
  color: #5597DA;
  background-color: white;
  border: 2px solid #5597DA;
  border-radius: 4px;
  transition: linear 0.3s;
}
.btn-box .Add_to_cart:hover{
  color: #ffffff;
  background-color: #5597DA;
  border: 2px solid white;
  border-radius: 4px;
}
.cart-details{
  background-color: #F2F4F8;
}
}
@media screen and (min-width:600px){
  #back{
    display: none;
  }
  #cart{
    display: none;
  }
}
