/*Categories*/
.categories {
    display: flex;
    justify-content: space-between;
    background-color: rgba(85, 151, 218, 1);
    padding: 15px 140px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.cat a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.cat a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 15px;
}

.categories::-webkit-scrollbar {
    width: 2rem;
    height: 5px;
}

.categories::-webkit-scrollbar-track {
    opacity: 0;
}

.categories::-webkit-scrollbar-thumb {
    opacity: 1;
    background: #000000;
    border-radius: 20px;
}

/*Carousel*/
.carousel {
    height: 333px !important;
    background-color: rgba(241, 250, 255, 1);
}

.active {
    display: flex !important;
    justify-content: center;
    height: 90% !important;
}

.car-img {
    display: inline;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text p {
    color: white;
    font-size: 37px;
    font-weight: 700;
}

.carousel-indicators {
    position: absolute;
    top: 310px;
}

.carousel-indicators li {
    border: black 1px solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
}

.carousel-indicators .active {
    width: 30px !important;
    height: 13px !important;
    background-color: rgba(85, 151, 218, 1) !important;
    border-radius: 20px !important;
}

/**Category 2**/
#categories2 {
    border: 1px solid rgba(85, 151, 218, 1);
}

.product-cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product-cat img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.product-cat .discount {
    width: 107px;
    height: 20px;
    border-radius: 4px 0px 4px 0px;
    position: relative !important;
    top: 20px;
}

.product-cat span {
    color: #5597DA;
    font-weight: 700;
    font-size: 24px;
}

.categories-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.categories-more #more-col a {
    color: #5597DA;
    margin: 0px 30px;
}

.more-cat {
    display: flex !important;
    flex-direction: column !important;
    background-color: white;
    border: 1px solid #5597DA;
    border-top: none;
}

#more-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#more-col hr {
    width: 350px;
    height: 2px;
    background-color: rgba(85, 151, 218, 1);
}

#space {
    width: 100%;
    height: 40px;
    background-color: rgba(241, 250, 255, 1);
}

/**Trending**/
#trendings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 25px 35px;
    border: 1px solid rgba(85, 151, 218, 1);
}

.trending-m {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}

.trending-m::-webkit-scrollbar {
    width: 2rem;
    height: 5px;
}

.trending-m::-webkit-scrollbar-track {
    opacity: 0;
}

.trending-m::-webkit-scrollbar-thumb {
    opacity: 1;
    background: #000000;
    border-radius: 20px;
}

#trending-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: -1;
    padding-bottom: 10px;
}

#trending-main img {
    width: 180px;
    height: 220px;
    border-radius: 8px;
    border: 1px solid rgba(85, 151, 218, 1);
}

h6 {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.rate {
    display: flex;
    padding-bottom: 10px;
    justify-content: left;
}

.sub-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.add-to-cart {
    background-color: #5597DA;
    border-radius: 4px;
    border: none;
    color: white;
    width: 135px;
    height: 28px;
}

.rate .pre {
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
    padding-right: 10px;
    color: black;
}

.rate span {
    font-size: 14px;
    font-weight: 700;
    color: #5597DA;
}

.title h6 {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/**Media Queries**/
@media screen and (min-width: 940px) and (max-width:1200px) {

    /**Categories**/
    .categories {
        padding: 20px 50px 10px 50px;
    }

    .cat a img {
        width: 90px;
        height: 90px;
    }

    /**Carousel**/
    .carousel-item {
        width: auto;
        height: 250px;
        border-radius: 15px;
        margin: 0px 50px;
    }

    .car-img {
        width: 400px;
        height: 250px;
    }

    .text p {
        font-size: 20px;
    }

    .text img {
        width: 300px;
        height: 100px;
    }

    .carousel {
        height: 350px !important;
        padding-top: 25px;
    }

    .carousel-indicators li {
        position: relative;
        top: 18px;
    }

    /**Trendings**/
    .sub-div img {
        height: 200px !important;
        width: 150px !important;
    }

    .sub-div .title h6 {
        font-size: 13px;
        font-weight: 700;
    }

    .title {
        width: 115px;
        height: 17px;
        padding-top: 15px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub-div {
        margin: 0px 30px 0px 0px;
    }
}

@media screen and (min-width: 800px) and (max-width: 940px) {

    /**Categories**/
    .categories {
        padding: 20px 25px 10px 25px;
    }

    .cat a img {
        width: 75px;
        height: 75px;
    }

    .cat a {
        font-size: 15px;
    }

    /**Carousel**/
    .carousel-item {
        width: auto;
        height: 250px;
        border-radius: 10px;
        margin: 0px 35px;
    }

    .car-img {
        width: auto;
        height: 200px;
        position: relative;
        left: -50px;
    }

    .text p {
        font-size: 18px;
        position: relative;
        left: -20px;
    }

    .text img {
        width: 250px;
        height: 70px;
        position: relative;
        left: -20px;
    }

    .carousel {
        height: 301px !important;
        padding-top: 20px;
    }

    .carousel-indicators li {
        position: relative;
        top: -29px;
    }

    /**Categories2**/
    #more-col hr {
        width: 250px;
    }

    /**Trendings**/
    .trending-main {
        width: 120% !important;
    }

    .trending-m {
        width: 100%;
    }

    .sub-div img {
        height: 170px !important;
        width: 150px !important;
    }

    .sub-div .title h6 {
        font-size: 12px;
        font-weight: 700;
    }
}

@media screen and (min-width: 600px) and (max-width:800px) {

    /**Categories**/
    .categories {
        padding: 20px 5px 10px 5px;
    }

    .cat a img {
        width: 60px;
        height: 60px;
    }

    .cat a {
        font-size: 10px;
    }

    /**Carousel**/
    .carousel-item {
        width: auto;
        height: 250px;
        border-radius: 12px;
        margin: 0px 30px;
    }

    .car-img {
        width: auto;
        height: 200px;
        position: relative;
        left: -30px;
    }

    .text p {
        font-size: 18px;
        position: relative;
        left: -20px;
    }

    .text img {
        width: 250px;
        height: 70px;
        position: relative;
        left: -20px;
    }

    .carousel {
        height: 270px !important;
        padding-top: 15px;
    }

    .carousel-indicators li {
        position: relative;
        top: -58px;
    }

    /**Categories2**/
    #more-col hr {
        width: 200px;
    }

    .product-cat span {
        font-size: 14px;
    }

    /**Trendings**/
    .sub-div img {
        height: 150px !important;
        width: 120px !important;
    }

    .sub-div .title h6 {
        font-size: 10px;
        font-weight: 700;
    }
}

@media screen and (max-width:600px) {

    /*Categories*/
    .categories {
        padding: 15px 7px;
    }

    .cat a {
        color: black;
        font-size: 8px;
    }

    .cat a img {
        width: 45px;
        height: 45px;
    }

    /**Carousel**/
    .carousel-item {
        width: auto;
        height: 120px;
        border-radius: 8px;
        margin: 0px 15px;
    }

    .car-img {
        width: auto;
        height: 170px;
        position: relative;
        left: -20px;
    }

    .text p {
        font-size: 12px;
        position: relative;
        left: -30px;
    }

    .text img {
        width: 140px;
        height: 50px;
        position: relative;
        left: -30px;
    }

    .carousel {
        height: 241px !important;
        padding-top: 15px;
    }

    .carousel-indicators li {
        position: relative;
        top: -87px;
    }

    /**Categories2**/
    .product-cat img {
        width: 90px;
        height: 90px;
    }

    .product-cat .discount {
        width: 90px;
    }

    .product-cat span {
        font-size: 10px;
    }

    #more-col a {
        font-size: 14px;
        padding-top: 5px;
    }

    #more-col hr {
        width: 100px;
    }

    /**Trendings**/
    .sub-div img {
        height: 137px !important;
        width: 118px !important;
    }

    .sub-div .title h6 {
        font-size: 10px;
        font-weight: 700;
    }
}