
* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: white;
    padding-bottom: 0px;
}

.navbar .nav-list li {
    list-style: none;
    display: inline-block;
}

.navbar .nav-list li a {
    text-decoration: none;
}

.nav-img img {
    width: 205px;
    height: 107.02px;
    margin-left: 2vw;
}

.navbar .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

.nav-items .search {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 600px;
    height: 45px;
    border: 1px solid #5597DA;
    border-radius: 5px;
}

#Total {
    text-align: right;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;



    color: #5597DA;
}

.nav-items .search input {
    border: none;
    height: 42px;
    outline: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #5597DA;

}

.nav-items .search i {
    margin: 0px 10px;


}

.nav-items a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #5597DA;
    font-weight: 700;
    line-height: 26px;
}

.shopping-cart {
    color: #5597DA;
}

.active {
    background: rgba(85, 151, 218, 0.15);
    border-radius: 4px;
    padding: 7px;
}
#top {
    vertical-align: top;
    text-align: center;
    border: 5px solid black;
    width: fit-content;
    border-radius: 20px;
    height: 140px;
    background: #FFFFFF;
    border: 1px solid #5597DA;
    border-radius: 8px;
}

#arrow {
    padding-top: 10px;
    position: absolute;
}

#dashboard {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#img {
    height: 100px;
    position: relative;
}


.login-btn {
    background: #F26107;
    border: none;
    width: 95px;
    height: 38px;
    color: white;
    border-radius: 4px;
    font-size: 24px;
}

.dp {
    margin-right: 2vw;
}

@media screen and (min-width: 940px) and (max-width:1200px) {
    .navbar .search {
        max-width: 300px;
    }
}

@media screen and (min-width: 800px) and (max-width: 940px) {

    .navbar .search {
        max-width: 400px;
        /* width: 100%; */
    }
}

@media screen and (min-width: 600px) and (max-width:800px) {

    .navbar .search {
        display: none;
    }

    .nav-img img {
        width: 120px;
        height: 85px;
        margin-left: 1vw;
    }

    .navbar .nav-list li a {
        font-size: 2.5vw;
    }



}


@media screen and (max-width:600px) {

    .nav-list .nav-img,
    .navbar .nav-list li,
    .nav-list .search,
    .nav-list .menu a,
    .nav-list .menu i,
    .nav-list .login-btn {
        display: none;
    }
}

@media screen and (min-width:600px) {
    .my-2 {
        display: none;
    }
    #a1{display: none;}
    #Total {
        padding-top: 10px;
    }

}

@media screen and (max-width:600px) {
    .dp {
        display: none;

    }

    #Total {
        margin-top: 10px;
    }

}


#icons {
    word-spacing: 1.5vw;
}

body {
    background-color: #F1faff;
    ;
}

#dashboard {
    background-color: white;
    margin-top: 55px;

}







#blank {
    border: 0;
    height: 17px;
}

#head {
    text-align: center;
    height: 37px;
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 50px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */


    color: #000000;
}

#blue {



    border: 0;
    background: #F1FAFF;
    border-top: 1px solid #5597DA;
}

#white {



    background: #FFFFFF;
    border: 0;
    border-top: 1px solid #5597DA;
}

.last {
    border-bottom: 1px solid #5597DA;
}

th {
    padding-top: 23px;
}

button {
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
}

.accepted {
    background-color: #84D743;
}

.rejected {
    background-color: #B60016;
}

.returned {
    background-color: #F27932;
}

#image {
    display: none;
}


.navbar {
    text-align: center;
}

label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}



.details input,
select {
    background: #C2D9F0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    width: fit-content;
    height: max-content;
    padding: 10px;

    border: 0;
    color: #000000;
}

.details select {
    width: 86px;
    height: 30px;
    left: 891px;
    top: 561px;

    background: #C2D9F0;
    border-radius: 4px;
}

.details label {
    margin: 0;
}

.details {
    display: inline-block;
    
}

.details p {
    background-color: #C2D9F0;
}

.details select {
    padding: 0;
}

#inc {
    font-size: 0px;
}

#plus {
    display: inline;
    background-color: #5497DB;
    color: white;
    border: #5497DB 1px solid;
    font-weight: 1000;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 12%;
}

#plus {
    width: 20px;
    height: 25px;
}

#demoInput {
    display: inline;
    color: #5497DB;
    background-color: white;
    border: 0;
    font-weight: 1000;
    font-size: 20px;

}

#demoInput {
    width: 35px;
    padding: 0;
    padding-left: 3%;
}

#desc {
    width: 82%;
    height: 125px;
    left: 298px;
    top: 743.5px;
    text-align: center;

    background: #C2D9F0;
    border-radius: 4px;
}

.button {
    color: white;
    width: fit-content;
    padding: 10px 30px;
    background: #5597DA;
    border-color: #5597DA;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
    border-radius: 5px;
}

@media screen and (max-width:700px) {
    .d-lg-flex {
        justify-content: center;
    }

    .btn {
        width: 10vw;
    }

    th {
        padding: 0;
    }

    #dashboard {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    #image {
        display: block;
        height: 260px;

        margin: auto;
        width: 90%;
        position: absolute;

    }

    #blue #white #headings {
        height: auto;
    }

    .btn {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        font-size: 10px;
        width: 15vw;
    }

    .col-2 {
        max-width: 100%;
    }

    #dashboard p {
        display: inline;

        width: 38px;
        height: 17px;



        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */


        color: #000000;
    }

    .fx {
        box-sizing: border-box;




        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        padding: 0;
        margin-left: 0;

        color: #5597DA;
        background: #FFFFFF;
        border: 1px solid #5597DA;
        border-radius: 8px;
    }

    #desc {
        width: 100%;
    }

}

@media screen and (min-width:701px) {
        #c{margin-left: 50px;}
      
    #pdtname {
        width: 100%
    }

    .col-2 {
        border-right: 2px solid #5597DA;

    }

    #dashboard p {
        display: inline;
        padding: 10px;
        width: 38px;
        height: 17px;



        font-weight: 600;
        font-size: 20px;
        line-height: 17px;
        /* identical to box height */


        color: #000000;
    }

    .fx {
        box-sizing: border-box;


        width: 156px;
        height: 25px;

        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */


        color: #5597DA;
        background: #FFFFFF;
        border: 1px solid #5597DA;
        border-radius: 8px;
    }

    #headings {
        height: 74px;
    }

    .btn {
        margin-bottom: 23px;
    }

    .col-2 {
        border-left: 2px solid #5597DA;
    }
}
#addp {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  
}
.d-flex .first{margin-left: 50px;}


textarea{ padding-top: 40px;}
