
* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: white;
    padding-bottom: 0px;
}

.navbar .nav-list li {
    list-style: none;
    display: inline-block;
}

.navbar .nav-list li a {
    text-decoration: none;
}

.nav-img img {
    width: 205px;
    height: 107.02px;
    margin-left: 2vw;
}

.navbar .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

.nav-items .search {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 600px;
    height: 45px;
    border: 1px solid #5597DA;
    border-radius: 5px;
}
#Total{text-align: right;
font-style: normal;
font-weight: 700;
font-size: 22px;



color: #5597DA;}

.nav-items .search input {
    border: none;
    height: 42px;
    outline: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #5597DA;

}

.nav-items .search i {
    margin: 0px 10px;


}

.nav-items a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #5597DA;
    font-weight: 700;
    line-height: 26px;
}

.shopping-cart {
    color: #5597DA;
}

.active {
    background: rgba(85, 151, 218, 0.15);
    border-radius: 4px;
    padding: 7px;
}

.login-btn {
    background: #F26107;
    border: none;
    width: 95px;
    height: 38px;
    color: white;
    border-radius: 4px;
    font-size: 24px;
}

.dp {
    margin-right: 2vw;
}

@media screen and (min-width: 940px) and (max-width:1200px) {
    .navbar .search {
        max-width: 300px;
    }
}

@media screen and (min-width: 800px) and (max-width: 940px) {

    .navbar .search {
        max-width: 400px;
        /* width: 100%; */
    }
}

@media screen and (min-width: 600px) and (max-width:800px) {

    .navbar .search {
        display: none;
    }

    .nav-img img {
        width: 120px;
        height: 85px;
        margin-left: 1vw;
    }

    .navbar .nav-list li a {
        font-size: 2.5vw;
    }



}


@media screen and (max-width:600px) {

    .nav-list .nav-img,
    .navbar .nav-list li,
    .nav-list .search,
    .nav-list .menu a,
    .nav-list .menu i,
    .nav-list .login-btn {
        display: none;
    }
}
@media screen and (min-width:600px) {

   #Total{ padding-top: 10px;}

}

@media screen and (max-width:600px) {
    .dp {
        display: none;

    }
    #Total{margin-top: 10px;}

}


#icons {
    word-spacing: 1.5vw;
}

body {
    background-color: #F1faff;
    ;
}

#dashboard {
    background-color: white;
    margin-top: 55px;

}

.d-flex {
    text-align: center;
    border-top: 2px solid #5597DA;
    border-bottom: 2px solid #5597DA;
}



.d-flex {
    padding: 0
}

#blank {
    border: 0;
    height: 17px;
 background-color: white;
}

#head {
    text-align: center;
    height: 37px;
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 50px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */


    color: #000000;
}

#blue {



    border: 0;
    background: #F1FAFF;
    border-top: 1px solid #5597DA;
}

#white {
   


    background: #FFFFFF;
    border: 0;
    border-top: 1px solid #5597DA;
}

.last {
    border-bottom: 1px solid #5597DA;
}

th {
    padding-top: 23px;
}

button {
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
}

.accepted {
    background-color: #84D743;
}

.rejected {
    background-color: #B60016;
}

.returned {
    background-color: #F27932;
}
#image{display: none;}
@media screen and (max-width:700px) {
        .d-flex{font-size: 5vw;}
        .btn{width: 10vw;}
       th{padding: 0;}
       #dashboard{border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    }#image{display: block;
    height: 260px;
    
    margin: auto;
width: 90%;
position: absolute; 

} #blue #white #headings{ height: auto;}
.btn{margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
font-size: 10px;
width: 15vw;}

.col-2{max-width: 100%;}



}
@media screen and (min-width:701px){
.col-2 {
    border-right: 2px solid #5597DA;
    
}

#headings{height: 74px;}
.btn {margin-bottom: 23px;}
.col-2 {
    border-left: 2px solid #5597DA;
}}

#Totalpayment{border-left: 0; 
text-align: center;
padding: 0;
font-size: 22px;


}
hr{margin: 5px;}
iframe{
height:700px;
width:100%;
}