<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed" id="store" href="/store">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" id="products" href="/store/products">
        <i class="bi bi-menu-button-wide"></i>
        <span>Products</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" id="addProduct" href="/store/addProduct">
        <i class="bi bi-menu-button-wide"></i>
        <span>Add Product</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" id="moneyDetail" href="/store/money">
        <i class="bi bi-menu-button-wide"></i>
        <span>Money Details</span>
      </a>
    </li>

    <!-- Start Pages Nav -->
    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" id="profile" href="/store/profile">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" id="faqs" href="/store/faqs">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" id="contact" href="/store/contact">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li>
  </ul>
  <script>
    const url = window.location.href;
    const id = url.split("/").pop();

    const element = document.getElementById(id);
    element.classList.remove("collapsed");
    // get the last part of the url.
  </script>
</aside>
<!-- End Sidebar-->
