<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Your Store Login</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="user_UI/img/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="user_UI/img/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="user_UI/img/favicon/favicon-16x16.png" />
        <link rel="manifest" href="user_UI/img/favicon/site.webmanifest" />
        <!-- <link href="/user_UI/img/favicon.png" rel="icon" /> -->
        <!-- <link href="/user_UI/img/apple-touch-icon.png" rel="apple-touch-icon" /> -->
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />
        <!-- Vendor CSS Files -->
        <link href="/store_UI/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/store_UI/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
        <link href="/store_UI/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
        <link href="/store_UI/vendor/quill/quill.snow.css" rel="stylesheet" />
        <link href="/store_UI/vendor/quill/quill.bubble.css" rel="stylesheet" />
        <link href="/store_UI/vendor/remixicon/remixicon.css" rel="stylesheet" />
        <link href="/store_UI/vendor/simple-datatables/style.css" rel="stylesheet" />
        <!-- Template Main CSS File -->
        <link href="/store_UI/css/style.css" rel="stylesheet" />
        <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    </head>

    <body>
        <main>