<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="user_UI/assets/favicon_io/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="user_UI/assets/favicon_io/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="user_UI/assets/favicon_io/favicon-32x32.png" />
    <link rel="manifest" href="user_UI/assets/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="/user_UI/login.css" />
    <title>Login</title>
    <script src="https://kit.fontawesome.com/de5fa6f0f7.js" crossorigin="anonymous"></script>
    <style>
    </style>
  </head>

  <body>
    <div class="main">